{% load static %}
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="{%static 'style/main_style.css'  %}" rel="stylesheet">
    <title>Video Time📷</title>
</head>
<body>
<header>
    <div class="site_name">Video Time📷</div>
    {% if not user.is_authenticated %}
    <a href="{% url 'login' %}" style="text-decoration: none; color: white;">
        <div class="btn">
            Log In
        </div>
    </a>
    <a href="{% url 'reg_page' %}" style="text-decoration: none; color: white;">
        <div class="btn">
            Sign In
        </div>
    </a>
    {%else%}
    <a href="{% url 'upload' %}" style="text-decoration: none; color: white;">
        <div class="btn">
            Upload Video
        </div>
    </a>
    <a href="/profile/{{user_id}}" style="text-decoration: none; color: white;">
        <div class='btn'>
            {{user.name}}
        </div>
    </a>
    {% endif %}

</header>
<article>
    <div class="video-player">
        {% if user.is_authenticated%}
        <video autoplay controls id='video' loop="loop" muted src="{{video.video_url}}">
        </video>
        {%else%}
        <video autoplay controls id='video' loop="loop" muted src="{% static 'video/reg_gif.mp4' %}">
        </video>
        {%endif%}
    </div>

    <div class="actions">
        {% if user.is_authenticated%}
        <div class="like_video">
            <form action="/likes/{{cur_id}}" method=POST name='likes'>
                {% csrf_token %}
                <button class="like_" id='like' type="submit">❤️</button>
            </form>
        </div>
        <div class="comment_video">
            <button class="comm_" type="submit">💬</button>
        </div>
        <div class="next_video">
            <a href="/{{next_id}}">
                <button class="next_video" id='next_video' type="submit">⬇️</button>
            </a>
        </div>
        {% endif %}
    </div>
</article>

<div class="comment_place" id="comment">
    <div class="posts">
        {% for i in postform %}
        <p>{{i.user.name}} : {{i.post}} </p>
        {% endfor %}
    </div>
    <div class="comments_div">
        <form method="post">
            {% csrf_token %}
            <input name="comment_place" type="text">
            <button type="submit">отправить</button>
        </form>
    </div>
</div>

</body>
<script src="{% static 'script/script.js' %}">
</script>
