{% extends "base.html" %}
{% load static %}

{% block title %}Main Page📼{% endblock title %}

{% block content %}
{% comment %} {% if not user.is_authenticated %}
    
{% else %}
    <div class="uk-card uk-card-default uk-card-hover" style="margin:15px;">
        <div class="uk-position-relative uk-overflow-hidden uk-margin" style="aspect-ratio: 9 / 16; background: #000">
            <video
                loop
                muted
                playsinline
                src="{{ video.video_url }}"
                uk-cover>
            </video>
        </div>

        <div class="uk-card-body uk-padding-small">
            <h4 class="uk-margin-remove">{{ video.title }}</h4>
            <div>
                <span uk-icon="icon: heart; ratio: 0.8"></span>
                <span>{{ likes }}</span>
            </div>
        </div>
    </div>
{% endif %} {% endcomment %}
{% endblock content %}
