{% extends "base.html" %}
{% load static %}

{% block title %} Upload Video💿{% endblock title %}

{% block content %}
<form class="uk-form-stacked" enctype="multipart/form-data" method="post">
    {% csrf_token %}
    <div>
        <div class="uk-card-large uk-card-default uk-position-center  uk-card-body uk-text-center">
            <div class="uk-card-badge uk-label">Отправьте Видео</div>
            <h3 class="uk-card-title">
                {{ form.title }}
            </h3>

            <div class="uk-margin uk-form-controls">
                <div uk-form-custom>
                    {{ form.video }}
                    <button class="uk-button uk-button-default uk-button-large" type="button">
                        <strong>Выбрать файл</strong>
                    </button>
                </div>
            </div>
            <button class="uk-button uk-button-primary uk-button-large" type="submit">
                <strong>Загрузить видео</strong>
            </button>
        </div>
    </div>
</form>
{% endblock content %}
