{% extends "base.html" %}
{% load static %}
{% load my_tags %}

{% block title %}User Page😊{% endblock title %}
{% block content %}
{% comment %} <article>
    {% for i in video %}
    <div class="video-player">
        <video autoplay muted controls loop="loop" id='video' src="{{i.video_url}}">
        </video>
    </div>
    <div class='like_part'>
        Like: {{like|get:forloop.counter0}}
    </div>
    {%endfor%}
</article> {% endcomment %}

<div class="uk-container">
    <div class="uk-grid-small uk-child-width-1-3@m uk-grid" uk-grid>
        {% for i in video %}
        <div>
            <div class="uk-card uk-card-default uk-card-hover" style="margin:15px;">
                <!-- Видео 9:16 как в тиктоке-->
                <div class="uk-position-relative uk-overflow-hidden uk-margin"
                     style="aspect-ratio: 9 / 16; background: #000">

                    <video
                        src="{{ i.video_url }}"
                        muted
                        loop
                        playsinline
                        uk-cover>
                    </video>

                </div>

                <div class="uk-card-body uk-padding-small">
                    <h4 class="uk-margin-remove">{{ i.title }}</h4>
                    <div>
                        <span uk-icon="icon: heart; ratio: 0.8"></span>
                        <span>{{ like|get:forloop.counter0 }}</span>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}

