<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load my_tags %}

<head>
    <meta charset="UTF-8">
    <title>User Page😊</title>
    <link rel="stylesheet" href="{%static 'style/userpage.css'%}">
</head>
<body>
<header>
    <div class="title"><h1>
        {{user.name}}🎥
    </h1></div>
</header>
<article>
    {% for i in video %}
    <div class="video-player">
        <video autoplay muted controls loop="loop" id='video' src="{{i.video.url}}">
        </video>
    </div>
    <div class='like_part'>
        Like: {{like|get:forloop.counter0}}
    </div>
    {%endfor%}
</article>
<aside>
    <a href="{% url 'upload' %}" style="text-decoration: none; color: white;"><div class="btn" >
        Upload Video
    </div></a>
    <a href="{% url 'first' %}" style="text-decoration: none; color: white;"><div class="btn">
        Main Page
    </div></a>
    <form action="{%url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit" style='width: 160px; height: 20px; border: none; background-color: white;'><div class="btn">Log Out</div></button>
    </form>
</aside>
</body>
</html>