<footer class="uk-section-xsmall uk-background-secondary uk-light">
    <div class="uk-container">
        <div class="uk-text-center">
            <div class="uk-text-right">
                <a class="uk-icon-button uk-margin-small-right" href="#" uk-icon="twitter"></a>
                <a class="uk-icon-button uk-margin-small-right" href="#" uk-icon="instagram"></a>
                <a class="uk-icon-button" href="#" uk-icon="youtube"></a>
            </div>
            <div class="uk-text-left">
                <p class="uk-text-small uk-margin-remove-top uk-margin-small-left">
                    © {% now "Y" %} VideoTime. Сделано с ❤️ для любителей видео.
                </p>
            </div>
        </div>
    </div>
</footer>