<header>
    <nav class="uk-navbar-container uk-padding" uk-navbar>
        <div class='uk-navbar-left'>
            <ul class="uk-navbar-nav">
                <li class="uk-active">
                    <a href={% url "VideoTime:main_page" %}> 
                        <h2>
                            <strong>Video Time📸</strong>
                        </h2>
                    </a>
                </li> 
            </ul>
        </div>
        <div class="uk-navbar-right">
            <ul class="uk-navbar-nav">
                {% if not user.is_authenticated %}
                    <li><a href="{% url 'VideoTime:login' %}"><strong>Log In</strong></a></li>
                    <li><a href="{% url 'VideoTime:reg_page' %}"><strong>Sign In</strong></a></li>
                {% else %}
                    <li><a href="{% url 'VideoTime:upload' %}"><strong>Upload Video</strong></a></li>
                    <li><a href="{% url "VideoTime:userpage" user.id %}"><strong>{{user.name}}</strong></a></li>
                    <li><a href="{% url 'VideoTime:logout' %}"><strong>Log Out</strong></a></li>
                    
                {% endif %}
            </ul>
        </div>
    </nav>
</header>